.links-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.links-container a{
    font-size: 18px;
    color: rgb(13, 0, 255);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}