:root {
    --dark-blue: #022D3D;
    --light-blue: #6ED8FF;
    --light-blue-opacity: #6ED8FFC4;
    --color-pr: #00AEEF;
    --orange: #FF9D32;
    --dark-orange: #CE7616;
    --color-sec-2: #FF8500;
    --orange-3: #A76217;
    --white: #e5e5e5;
    --red: #FC6884;
    --success-green: #2cbb6d;
    --ubuntu: "Ubuntu";
  }

html{
    font-size: 16px;
    min-width: 600px;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--dark-blue);
    font-family:  var(--ubuntu);
}

.sombra-menu-derecha{
    box-shadow: -2px 2px 6px 2px rgba(4, 19, 34, 0.75);
}

.header{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: linear-gradient(180deg, rgba(2, 45, 61, 0.00) 0%, #1D3C47 99.98%, rgba(3, 45, 61, 0.01) 99.99%);
    width: 100%;
}

.header-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-content .header-home-logo{
    padding: 0;
    margin: 0;
    z-index: 5;
    grid-column: 2;
    display: flex;
    justify-content: center;
}

.header-content .header-home-logo img{
    cursor: pointer;
    transition: 300ms;
}

.header-content .header-home-logo img:hover{
    filter: drop-shadow(0px 0px 2px rgba(255, 214, 133, 0.75));
    transform: translateY(12px) scale(1.3) rotate(720deg);
    transition: 300ms;
}

.login-header{
    text-align: center;
}

.login-header img{
    cursor: pointer;
}

.caja-busqueda{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: var(--light-blue);
    height: 25px;
    max-width: 300px;
    width: 100%;
}

.caja-busqueda img{
    cursor: pointer;
}

.caja-busqueda img:hover{
    filter: drop-shadow(2px 1px 1px rgba(4, 19, 34, 0.75));
    transform: translateX(-1px) translateY(-1px);
    transition: 100ms;
}

.caja-busqueda img:active{
    transform: translateX(0px) translateY(0px);
    filter: none;
}

.caja-busqueda input{
    border: none;
    border-radius: 20px;
    background-color: var(--light-blue);
}

.caja-busqueda input::placeholder{
    font-family: var(--ubuntu);
    font-weight: 100;
}

.caja-busqueda input:focus{
    outline: none;
}

.header-icons{
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
    position: relative;
    right: 0;
}

.header-icons img{
    margin-left: 20px;
    cursor: pointer;
}

#id-carrito:hover, #id-usuario:hover{
    filter: drop-shadow(2px 1px 1px rgba(210, 222, 234, 0.75));
    transform: translateX(-1px) translateY(-1px);
    transition: 100ms;
}

#id-carrito:active, #id-usuario:active{
    transform: translateX(0px) translateY(0px);
    filter: none;
}

.logo-and-search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar{
    position: fixed;
    height: 100%;
    width: 55px;
    z-index: 8;
    top: 0;
    transition: 300ms;
    font-size: 0.85rem;
    background-color: var(--light-blue);
    box-shadow: 2px 2px 3px 2px rgba(4, 19, 34, 0.75);
}

.nav-bar-open{
    width: 217px;
    transition: 300ms;
    z-index: 8;
    box-shadow: 2px 2px 7px 5px rgba(4, 19, 34, 0.75);
}

.div-btn{
    position: relative;
    top: 14px;
    left: 7px;
}

.btn-nav-bar{
    transition: 300ms;
    cursor: pointer;
}

.btn-nav-bar:hover{
    filter: drop-shadow(2px 1px 1px rgba(4, 19, 34, 0.75));
}

.btn-nav-bar:active{
    filter: none;
}

.nav-categorias{
    position: relative;
    top: 40px;
    left: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.nav-categorias li{
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-categorias li:hover{
    filter: drop-shadow(2px 1px 1px rgba(4, 19, 34, 0.75));
    transform: translateX(-2px) translateY(-2px);
}

.nav-categorias li:active{
    filter: none;
    transform: translateX(0px) translateY(0px);
}

.nav-categorias li h3{
    user-select: none;
}

h3{
    margin: 0;
    padding: 3px 0 0 0;
    line-height: 0;    
}

.menues-contenedor{
    display: flex;
    justify-content: flex-end;
    z-index: 0;
}

.menues-contenedor nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.menu-carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 381px;
    height: 287px;
    position: absolute;
    z-index: 2;
    background-color: var(--light-blue);
    transition: 300ms;
}

.menu-carrito div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}

.menu-carrito div img{
    border-radius: 10px;
    box-shadow: 2px 2px 1px 1px rgba(8, 37, 49, 0.7);
}

.item-carrito{
    height: 38px;
    width: 100%;
    max-width: 340px;
    background-color: var(--light-blue);
    margin-top: 32px;
}

.detalle-carrito{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detalle-carrito span{
    font-family: var(--ubuntu);
    color: var(--dark-blue);
    font-weight: bold;
}

.total-carrito{
    width: 100%;
    max-width: 340px;
}

.total-carrito div span{
    font-family: var(--ubuntu);
    color: var(--dark-blue);
    font-weight: bold;
}

.menu-carrito .div-btn-carrito{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.menu-usuario{
    width: 185px;
    height: 260px;
    position: absolute;
    z-index: 2;
    background-color: var(--light-blue);
    transition: 300ms;
    display: flex;
    justify-content: center;
}

.menu-usuario-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 160px;
    width: 100%;
}

.menu-usuario-content h3{
    padding-top: 30px;
}

.menu-usuario-content ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-usuario-content ul li{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.menu-usuario-content ul li div{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.menu-usuario-content ul li div:hover{
    filter: drop-shadow(2px 1px 1px rgba(4, 19, 34, 0.75));
    transform: translateX(-2px) translateY(-1px);
    transition: 100ms;
}

.menu-usuario-content ul li div:active{
    filter: none;
    transform: translateX(0px) translateY(0px);
    transition: 100ms;
    user-select: none;
}

.first-form, .login-form, .sign-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.border-form{
    width: 470px;
    height: 100%;
    padding-top: 34px;
    border: 2px var(--orange) solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--orange);
    padding-bottom: 30px;
}

.border-form h3{
    padding-bottom: 20px;
    font-size: 1.2rem;
}

.border-form p{
    margin-top: 30px;
    margin-bottom: 10px;
}

.border-form button{
    color: var(--dark-blue);
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    background-color: transparent;
    border: none;
    width: fit-content;
    margin-left: 10px;
    cursor: pointer;
}

.border-form .to-login-btn{
    width: 400px;
    margin-top: 35px;
    text-decoration: underline;
    font-weight: bold;
    color: var(--orange);
    margin-left: 0;
}

.border-form .to-login-btn:hover{
    color: var(--dark-orange);
}

.div-form-btn{
    width: 400px;
    height: 32px;
    background-color: var(--white);
    border-radius: 12px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 100ms;
}

.div-form-btn img{
    position: relative;
    left: 15px;
}

.div-form-btn button{
    width: 100%;
}

.div-form-btn:hover{
    transform: translate(-0.6px, -0.6px);
    box-shadow: 2px 2px 2px 0 rgb(255, 164, 8);
}

.div-form-btn:active{
    transform: translate(0px, 0px);
    box-shadow: none;
    transition: none;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.input-container label{
    font-weight: normal;
}

.input-container input{
    margin-top: 5px;
    width: 385px;
    height: 32px;
    border-radius: 12px;
    border: none;
    padding-left: 15px;
    font-family: var(--ubuntu);
    font-weight: 500;
}

.border-form .btn-principal, .div-btn-carrito .btn-principal, #form-juego .btn-principal{
    border: 1px var(--white) solid;
    border-radius: 17px;
    height: 40px;
    width: auto;
    background-color: var(--orange);
    color: var(--white);
    padding: 5px 15px;
    line-height: 0;
    cursor: pointer;
    position: relative;
    transition: 50ms;
}

#form-juego .btn-principal{
    font-size: 1.5rem;
}

.border-form .btn-principal:hover, .div-btn-carrito .btn-principal:hover, #form-juego .btn-principal:hover{
    background-color: var(--dark-orange);
    transform: translateY(-1px) translateX(-1px);
    transition: 50ms;
    box-shadow: 1px 1px 1px 1px rgb(251, 251, 251);
}

.border-form .btn-principal:active, .div-btn-carrito .btn-principal:active #form-juego .btn-principal:active{
    transform: translateY(0px) translateX(0px);
    box-shadow: none;
}

.submit-div-login{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

.submit-div-login span{
    cursor: pointer;
    text-decoration: underline;
}

.submit-div-login span:hover{
    color: var(--dark-orange);
}

.submit-div-register{
    display: flex;
    justify-content: flex-end;
    width: 400px;
    margin-top: 30px;
}

.form-checkbox{
    margin-top: 20px;
    width: 400px;
    display: flex;
    justify-content: flex-start;
}

.div-captcha-main{
    width: 400px;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.captcha-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--white);
    width: 300px;
    border-radius: 5px;
    padding: 5px 0;
}

.captcha-container label{
    color: var(--dark-blue);
}

.pop-up-exitoso{
    height: 100vh;
    width: 100%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.pop-up-body{
    position: fixed;
    bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    opacity: 1;
    height: 50px;
    width: 300px;
    border: 2px #2cbb6c70 solid;
    border-radius: 12px;
    box-shadow: 6px 6px 3px 2px rgba(4, 19, 34, 0.75), inset 0 -1em 1em rgba(0, 200, 0, 0.5);
    animation-name: pop-up-animation;
    animation-duration: 1700ms;
}

.popup-reset {
    display: flex;
    position: absolute;
    width: 875px;
    height: 650px;
    z-index: 4;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-contenido {
    background-color: #f9b771;
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: var(--dark-blue) solid 2px;
}

.popup-reset button {
    display: flex;
    border-radius: 12px;
    margin: 10px;
    background-color: #a0a0a0;
}

.popup-reset button:hover {
    transform: translate(-0.6px, -0.6px);
    box-shadow: 2px 2px 2px 0 rgb(62, 63, 62);
    background-color: #CE7616;
}

@keyframes pop-up-animation {
    0% {
        transform: scale(1.0);
        transition: 100ms;
    }
    25%{
        transform: scale(1.1);
        transition: 100ms;
    }
    50%{
        transform: scale(1.0);
        transition: 100ms;
    }
    75%{
        transform: scale(1.1);
        transition: 100ms;
    }
    100%{
        transform: scale(1.0);
        transition: 100ms;
    }
}

.pop-up-exitoso h3{
    line-height: inherit;
    color: var(--success-green);
    text-shadow: 1px 1px 2px rgb(6, 111, 50),
    0 0 1em #2cbb6d,
    0 0 0.2em #2cbb6c70;
}

.spinner{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    opacity: 0.95;
    height: 100vh;
    width: 100%;
}

.spinner span{
    margin-left: 15px;
    color: var(--orange);
    opacity: 1;
}

.lds-spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
    z-index: 3;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: var(--orange);
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
    opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.main-content{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 70px;
    align-items: center;
}

.main-content section{
    max-width: 1180px;
    width: 100%;
    margin-bottom: 15px;
}

.main-content section h3{
    color: var(--light-blue);
    padding-left: 25px;
    font-size: 1.5rem;
}

.main-content section h3:first-child{
    padding-left: 0;
}

.cards-detalle{
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}

.card-body{
    width: 545px;
    display: flex;
}

.card-description{
    width: 200px;
    height: 250px;
    background-color: var(--light-blue);
    border-radius: 10px;
}

.card-description-img{
    width: 100%;
    height: 150px;
    background-color: var(--red);
    border-radius: 10px 10px 0 0;
}

.card-description-img img{
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.card-description-content{
    width: 100%;
    height: 130px;
    background-color: var(--white);
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-description-content .title-h3{
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--dark-blue);
}

.card-description-content p{
    width: 90%;
    margin: 12px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    font-size: 0.9rem;
}

.card-description-content div{
    display: flex;
    gap: 15px;
}

.card-description-content div img{
    cursor: pointer;
}

.card-description-content div img:hover, #btn-jugar:hover, #btn-reset:hover{
    filter: drop-shadow(2px 1px 1px rgba(4, 19, 34, 0.75));
    animation-name: button-card-principal;
    animation-iteration-count: infinite;
    animation-duration: 800ms;
}

@keyframes button-card-principal {
    0%{
        transform: rotate(5deg); 
        transition: 500ms ease-in;
    }
    15%{
        transform: rotate(-10deg);
        transition: 500ms ease-out;
    }
    30%{
        transform: rotate(10deg);
        transition: 500ms ease-in;
    }
    45%{
        transform: rotate(-10deg);
        transition: 500ms ease-out;
    }
    60%{
        transform: rotate(10deg);
        transition: 500ms ease-in;
    }
    75%{
        transform: rotate(0deg);
        transition: 500ms ease-out;
    }
    100%{
        transform: rotate(0deg);
        transition: 500ms ease-in;
    }
}

.card-description-content div img:active{
    transform: translateX(0px) translateY(0px);
    filter: none;
}

.card-imgs{
    width: 300px;
    height: 290px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card-imgs img{
    width: 150px;
    height: 135px;
    border-radius: 12px;
    margin-left: 10px;
    object-fit: cover;
    cursor: pointer;
    transition: 200ms;
}

.card-imgs img:hover{
    border: 1px ;
    transform: translateX(-1px) translateY(-1px);
    transition: 200ms;
}

.carrousel-container{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    gap: 5px;
}

.carrousel{
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    scroll-behavior: smooth;
    display: flex;
    padding: 5px;
}

.carrousel-img-container{
    height: 135px;
    width: 150px;
    margin-left: 10px;
    transition: 400ms;
    position: relative;
    z-index: 0.5;
    border-radius: 12px;
    object-fit: cover;
    cursor: pointer;
    background-color: var(--white);
}

.img-carrousel{
    width: 150px;
    height: 130px;
    border-radius: 12px;
    font-size: 0;
    z-index: 3;
    position: relative;
    object-fit: cover;
}

.img-carrousel:hover{
    transform: scale(0.99);
}

.carrousel-img-container .img-carrousel-hover{
    position: relative;
    bottom: 40px;
    right: 100px;
    width: 50px;
    opacity: 1;
    pointer-events: none;
}

.card-title{
    bottom: 16px;
    position: relative;
    width: 150px;
    height: 20px;
    background-color: var(--white);
    border-radius: 0 0 14px 14px;
    border-top: 2px var(--white) solid;
    pointer-events: none;
    z-index: 3;    
}

.card-title .truncate{
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding-left: 5px;
}

.card-gratis, .card-pago{
    position: absolute;
    border: 2px var(--white) solid ;
    border-radius: 11px 0 11px 0;
    z-index: 4;
    width: 50px;
    height: 18px;
    pointer-events: none;
}

.card-oferta{
    position: absolute;
    border: 2px var(--white) solid ;
    border-radius: 11px 0 11px 0;
    z-index: 4;
    width: 100px;
    height: 18px;
    pointer-events: none;
    background-color: var(--orange);
}

.card-oferta span{
    margin-left: 3px;
}

#sale-span{
    margin-left: 3px;
    position: initial;
}

.card-oferta span:first-child{
    text-decoration: line-through;
}

.card-gratis{
    background-color: var(--light-blue);
}

.card-pago{
    background-color: var(--red);
}

.carrousel-img-container .expand-btn{
    position: absolute;
    top: 5px;
    right: 5px;
}

.carrousel span, .card-gratis span, .card-pago span{
    position: absolute;
    z-index: 2;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: var(--ubuntu);
    width: 100%;
    text-align: center;
    vertical-align: center;
}

.carrousel-hovered{
    opacity: 0.2;
    transition: 400ms;
}

.carrousel div:first-child{
    margin-left: 0;
}

.animation-carousel-left{
    animation-duration: 700ms;
    animation-name: anim-car-left;
}

.animation-carousel-right{
    animation-duration: 700ms;
    animation-name: anim-car-right;
}

@keyframes anim-car-left {
    0%   {right:0px; top:0px;}
    50%  {right:-10px; top:0px;}
    100% {right:0px; top:0px;}
  }

@keyframes anim-car-right {
    0%   {right:0px; top:0px;}
    50%  {right:10px; top:0px;}
    100% {right:0px; top:0px;}
}

.prev-btn{
    height: 25px;
    cursor: pointer;
    z-index: 1;
    transition: 200ms;
}

.prev-btn:hover{
    transform: rotate(-360deg) scale(1.15);
    transition: 200ms;
}

.next-btn{
    height: 25px;
    cursor: pointer;
    z-index: 1;
    transition: 200ms;
}

.next-btn:hover{
    transform: rotate(360deg) scale(1.15);
    transition: 200ms;
}

.linea {
    border-top: 2px solid var(--dark-blue);
    height: 2px;
    width: 100%;
    max-width: 340px;
    padding: 0;
    margin: 32px 0;
  }

.oculto{
    display: none !important;
}

.rotate{
    transform: rotate(180deg);
    transition: 300ms;
}

.scale{
    transform: scale(1.05);
    transition: 100ms;
}

.display-flex{
    display: flex;
}

.opacity-0{
    opacity: 0;
}

.opacity-transition{
    opacity: 0;
    transition: 300ms;
}

.opacity-1-transition{
    opacity: 1;
    transition: 100ms;
}

.z-index-0{
    z-index: 0;
}


.z-index-5{
    z-index: 5;
}

.z-index-max{
    z-index: 10;
}

.form-hide{
    height: 100vh !important;
    overflow: hidden;
}

/*body juego*/

canvas{
    border-radius: 12px;
}

.boxJuego {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2%;
    padding-left: 15%;
    padding-right: 15%;
    margin: 0 auto;
}

.Sector1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contenedorJuego {
    background-color: var(--light-blue);
    border-radius: 12px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 880px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#img-juego{
    position: absolute;
}

.div-form-juego{
    position: absolute;
    z-index: 1;
    width: 875px;
    height: 650px;
    background-color: var(--light-blue-opacity);
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-form-juego form {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 20px;
    padding: 10px;
    background-color: var(--success-green);
    border: var(--dark-blue) solid 2px;
    border-radius: 10px;
}

.div-form-juego form img{
    position: relative;
    left: 180px;
    top: -5px;
    cursor: pointer;
}

.div-form-juego form input, .div-form-juego form select{
    border-radius: 5px;
}

.seleccion-jugador{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contenedor-turno {
    position: relative;
    bottom: 38px;
    left: -120px;
    color: #022D3D;
    background-color: var(--orange);
    width: auto;
    border-radius: 5px;
    border: #000000 solid 2px;
    padding: 2px 10px 2px 10px;
    font-size: large;
}

.contenedor-temporizador {
    position: relative;
    bottom: 720px;
    left: -385px;
    background-color: var(--orange);
    width: auto;
    border-radius: 5px;
    border: #000000 solid 2px;
    padding: 2px 10px 2px 10px;
    font-size: large;
}

.contenedor-ganador{
    display: flex;
    position: absolute;
    width: 875px;
    background-color: #00AEEFB4;
    height: 650px;
    z-index: 4;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
}

.contenedor-ganador .cartel{
    display: flex;
    width: 500px;
    height: 80px;
    background-color: #022D3DE2;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    border: var(--dark-orange) solid 2px;
}

.contenedor-ganador .cartel h3{
    color: var(--dark-orange);
    font-style: var(--ubuntu);
    font-size: 25px;
}

.botoneraJuego{
    width: 100%;
}

.botoneraJuego ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
}

.botoneraJuego ul li {
    margin: 0 10px;
}

.botoneraJuego ul li img {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.box-imgs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box-imgs img {
    border-radius: 12pt;
    height: auto;
    width: auto;
}

.tituloSector {
    display: flex;
    flex-direction: column;
    color: rgba(0, 174, 239, 0.75);
    margin-top: 5%;
}

.tituloSector div {
    display: flex;
    justify-content: start;
    align-items: center;
}

.tituloSector img {
    margin-right: 10px;
}

.tituloSector .separador {
    width: 100%;
    margin-bottom: 1%;
}

.cuerpoSector {
    display: flex;
    align-items: center;
    margin: 20px;
}

.cuerpoSector img {
    margin-right: 20px;
}

.cuerpoSector.texto p {
    margin: 5px;

}

.cuerpoSector p {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--ubuntu);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--light-blue);
}

.box-hacerComentario {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: rgba(242, 251, 255, 0.3);
    border-radius: 20pt;
    padding: 2%;
    margin-bottom: 10%;
}

.encabezadoComent {
    display: flex;
    align-items: center;
    margin-bottom: 1%;
}

.encabezadoComent p {
    margin: 0;
    font-family: var(--ubuntu);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-grow: 1;
    text-align: left;
    color: var(--color-sec-2);
}

.encabezadoComent .fechaCom {
    text-align: end;
    font-weight: normal;
    margin-right: 2%;
}

.cuerpoComent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

}

.cuerpoComent p {
    margin: 0;
    font-family: var(--ubuntu);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--orange);
}

.cuerpoComent img {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: 2%;
}


.box-comentario {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 8%;
}

.box-comentario .encabezadoComent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.imagenesComent {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 2%;
}

footer {
    background: linear-gradient(180deg, #1D3C47 40.94%, rgba(27, 59, 71, 0.92) 86.25%, rgba(25, 57, 70, 0.84) 99.93%, rgba(21, 55, 68, 0.70) 99.94%, rgba(17, 53, 67, 0.56) 99.95%, rgba(11, 50, 64, 0.31) 99.96%, rgba(3, 45, 61, 0.01) 99.97%, rgba(2, 45, 61, 0.00) 99.98%);
    padding: 0 10px 0 55px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.foot-a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-a img {
    margin-top: 15px;
    cursor: pointer;
}

.foot-b {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer h3 {
    color: var(--color-pr);
    line-height: normal;
    margin-bottom: 10px;
    margin-top: 0px;

}

.foot-b p {
    color: var(--color-pr);
    text-align: center;
    font-family: var(--ubuntu);
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 5px 0 5px;
}

.foot-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.foot-c h3 {
    margin-bottom: 10px;
}

.iconos-redes {
    display: flex;
    justify-content: center;
}

.iconos-redes img {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.footer2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
}

.footer2 .foot-d {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer2 .foot-d h3 {
    margin: 0 20px;
    color: var(--color-pr);
    line-height: normal;
    margin-bottom: 10px;
}

.footer2 .foot-d img {
    width: 40px;
    height: 25px;
    margin: 5px;
    border-radius: 5pt;
}

.footer-2-h3{
    display: flex;
    justify-content: center;
}

.display-none{
    display: none;
}

@media screen and (min-width: 800px){
    .foot-b p {
        font-size: 0.80rem;
    }
    .footer{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 25% 50% 25%;
        justify-content: space-between;
        align-items: center;
    }

    .card-description{
        width: 220px;
        height: 280px;
        background-color: var(--light-blue);
        border-radius: 10px;
    }

    .card-description-img img{
        width: 220px;
        height: 150px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
        cursor: pointer;
    }

    footer {
        padding: 0 10px 0 10px;
    }
}

@media screen and (min-width: 1200px) {
    .main-content{
        margin-left: 0;
    }

    .footer2 .foot-d {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .foot-b p {
        font-size: 0.85rem;
    }


}