html{
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
    background-color: #022D3D;
    font-family:  "Ubuntu";
}

.sombra-menu-derecha{
    box-shadow: -2px 4px 7px 2px rgba(0, 0, 0, 0.75);
}

.color-dark-blue{
    color: #022D3D;
}

.background-light-blue{
    background-color: #6ED8FF;
}

.header{
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
    background: linear-gradient(180deg, rgba(2, 45, 61, 0.00) 0%, #1D3C47 99.98%, rgba(3, 45, 61, 0.01) 99.99%);
    width: 100%;
}

.header-logo{
    position: absolute;
    left: 45%;
    cursor: pointer;
}

.nav-bar{
    position: fixed;
    height: 100vh;
    width: 55px;
    z-index: 1;
    top: 0;
    transition: 300ms;
    font-size: 0.85rem;
}

.nav-bar-open{
    width: 217px;
    box-shadow: 2px 2px 7px 5px rgba(0, 0, 0, 0.75);
    transition: 300ms;
}

.div-btn{
    position: relative;
    top: 14px;
    left: 7px;
}

.btn-nav-bar{
    transition: 300ms;
    cursor: pointer;
}

.div-categorias{
    position: relative;
    top: 40px;
    left: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.div-categorias div{
    display: flex;
    align-items: center;
    gap: 35px;
}

.div-categorias img, .div-categorias h3{
    cursor: pointer;
}

h3{
    margin: 0;
    padding: 3px 0 0 0;
    line-height: 0;    
}

.caja-busqueda{
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #6ED8FF;
    margin-right: 200px;
}

.caja-busqueda img{
    cursor: pointer;
}

.caja-busqueda input{
    border: none;
    text-align: center;
    border-radius: 20px;
    background-color: #6ED8FF;
}

.caja-busqueda input::placeholder{
    font-family: "Ubuntu";
}

.caja-busqueda input:focus{
    outline: none;
}

.header-icons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
}

.header-icons img{
    margin-left: 20px;
    cursor: pointer;
}

.menues-contenedor{
    display: flex;
    justify-content: flex-end;
    z-index: 0;
}

.menu-carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 381px;
    height: 287px;
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 1;
}

.item-carrito{
    height: 38px;
    width: 100%;
    max-width: 340px;
    background-color: #1D3C47;
    margin-top: 32px;
}

.menu-usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 260px;
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 1;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
}

.main-content section{
    width: 1134px;
}

.carrousel{
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    scroll-behavior: smooth;
}

.carrousel img{
    height: 135px;
    width: 150px;
    margin-left: 14px;
    background-color: #6ED8FF;
}

.carrousel img:first-child{
    margin-left: 0px;
}

.prev-btn{
    position: relative;
    top: 82px;
    left: -10px;
    cursor: pointer;
}

.next-btn{
    position: relative;
    bottom: 82px;
    right: -1120px;
    cursor: pointer;
}

.linea {
    border-top: 2px solid black;
    height: 2px;
    width: 100%;
    max-width: 340px;
    padding: 0;
    margin: 32px 0;
  }

.oculto{
    display: none;
}

.rotate{
    transform: rotate(180deg);
    transition: 300ms;
}

.footer{
    height: 150px;
    background: linear-gradient(180deg, #1D3C47 40.94%, rgba(27, 59, 71, 0.92) 86.25%, rgba(25, 57, 70, 0.84) 99.93%, rgba(21, 55, 68, 0.70) 99.94%);
}