:root {
    --dark-blue: #022D3D;
    --light-blue: #6ED8FF;
    --orange: #FF9D32;
    --dark-orange: #CE7616;
    --white: #e5e5e5;
    --red: #FC6884;
    --ubuntu: "Ubuntu";
  }

html{
    font-size: 16px;
    min-width: 600px;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--dark-blue);
    font-family:  var(--ubuntu);
}

.sombra-menu-derecha{
    box-shadow: -2px 2px 6px 2px rgba(4, 19, 34, 0.75);
}

.header{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: linear-gradient(180deg, rgba(2, 45, 61, 0.00) 0%, #1D3C47 99.98%, rgba(3, 45, 61, 0.01) 99.99%);
    width: 100%;
}

.header-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-content a{
    padding: 0;
    margin: 0;
    cursor: pointer;
    z-index: 5;
    grid-column: 2;
    display: flex;
    justify-content: center;
}

.login-header{
    text-align: center;
}

.login-header img{
    cursor: pointer;
}

.caja-busqueda{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: var(--light-blue);
    height: 25px;
    max-width: 300px;
    width: 100%;
}

.caja-busqueda img{
    cursor: pointer;
}

.caja-busqueda input{
    border: none;
    border-radius: 20px;
    background-color: var(--light-blue);
}

.caja-busqueda input::placeholder{
    font-family: var(--ubuntu);
}

.caja-busqueda input:focus{
    outline: none;
}

.header-icons{
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
    position: relative;
    right: 0;
}

.header-icons img{
    margin-left: 20px;
    cursor: pointer;
}

.logo-and-search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar{
    position: fixed;
    height: 100vh;
    width: 55px;
    z-index: 8;
    top: 0;
    transition: 300ms;
    font-size: 0.85rem;
    background-color: var(--light-blue);
    box-shadow: 2px 2px 3px 2px rgba(4, 19, 34, 0.75);
}

.nav-bar-open{
    width: 217px;
    transition: 300ms;
    z-index: 8;
    box-shadow: 2px 2px 7px 5px rgba(4, 19, 34, 0.75);
}

.div-btn{
    position: relative;
    top: 14px;
    left: 7px;
}

.btn-nav-bar{
    transition: 300ms;
    cursor: pointer;
}

.div-categorias{
    position: relative;
    top: 40px;
    left: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.div-categorias div{
    display: flex;
    align-items: center;
    gap: 35px;
}

h3{
    margin: 0;
    padding: 3px 0 0 0;
    line-height: 0;    
}

.div-categorias img, .div-categorias h3{
    cursor: pointer;
    color: var(--dark-blue);
}

.first-form, .login-form, .sign-form{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.border-form{
    width: 470px;
    height: auto;
    padding-top: 34px;
    border: 2px var(--orange) solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--orange);
    padding-bottom: 30px;
}

.border-form h3{
    padding-bottom: 20px;
    font-size: 1.2rem;
}

.border-form p{
    margin-top: 30px;
    margin-bottom: 10px;
}

.border-form button{
    color: var(--dark-blue);
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    background-color: transparent;
    border: none;
    width: fit-content;
    margin-left: 10px;
    cursor: pointer;
}

.border-form .to-login-btn{
    width: 400px;
    margin-top: 35px;
    text-decoration: underline;
    font-weight: bold;
    color: var(--orange);
    margin-left: 0;
}

.border-form .to-login-btn:hover{
    color: var(--dark-orange);
}

.div-form-btn{
    width: 400px;
    height: 32px;
    background-color: var(--white);
    border-radius: 12px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 100ms;
}

.div-form-btn img{
    position: relative;
    left: 15px;
}

.div-form-btn button{
    width: 100%;
}

.div-form-btn:hover{
    transform: translate(-0.6px, -0.6px);
    box-shadow: 2px 2px 2px 0 rgb(255, 164, 8);
}

.div-form-btn:active{
    transform: translate(0.6px, 0.6px);
    box-shadow: none;
    transition: none;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.input-container label{
    font-weight: normal;
}

.input-container input{
    margin-top: 5px;
    width: 385px;
    height: 32px;
    border-radius: 12px;
    border: none;
    padding-left: 15px;
    font-family: var(--ubuntu);
    font-weight: 500;
}

.border-form .btn-principal{
    border: 1px var(--white) solid;
    border-radius: 17px;
    height: 40px;
    width: auto;
    background-color: var(--orange);
    color: var(--white);
    padding: 5px 15px;
    line-height: 0;
    cursor: pointer;
    position: relative;
    transition: 300ms;
}

.border-form .btn-principal:hover{
    transform: translateY(-3px) scale(1.02);
    transition: 300ms;
    box-shadow: 0 2px 1px -0.5px rgb(251, 251, 251);
}

.border-form .btn-principal:active{
    transform: translateY(1px);
}


.submit-div-login{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

.submit-div-login span{
    cursor: pointer;
    text-decoration: underline;
}

.submit-div-login span:hover{
    color: var(--dark-orange);
}

.submit-div-register{
    display: flex;
    justify-content: flex-end;
    width: 400px;
    margin-top: 30px;
}

.form-checkbox{
    margin-top: 20px;
    width: 400px;
    display: flex;
    justify-content: flex-start;
}

.div-captcha-main{
    width: 400px;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.captcha-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--white);
    width: 300px;
    border-radius: 5px;
    padding: 5px 0;
}

.captcha-container label{
    color: var(--dark-blue);
}

.spinner{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    opacity: 0.95;
    height: 100vh;
    width: 100%;
}

.spinner span{
    margin-left: 15px;
    color: var(--orange);
    opacity: 1;
}

.lds-spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
    z-index: 3;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: var(--orange);
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
    opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.menues-contenedor{
    display: flex;
    justify-content: flex-end;
    z-index: 0;
}

.menues-contenedor nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.menu-carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 381px;
    height: 287px;
    position: absolute;
    z-index: 2;
    background-color: var(--light-blue);
    transition: 300ms;
}

.menu-carrito div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}

.menu-carrito div img{
    border-radius: 10px;
    box-shadow: 2px 2px 1px 1px rgba(8, 37, 49, 0.7);
}

.item-carrito{
    height: 38px;
    width: 100%;
    max-width: 340px;
    background-color: var(--light-blue);
    margin-top: 32px;
}

.detalle-carrito{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detalle-carrito span{
    font-family: var(--ubuntu);
    color: var(--dark-blue);
    font-weight: bold;
}

.total-carrito{
    width: 100%;
    max-width: 340px;
}

.total-carrito div span{
    font-family: var(--ubuntu);
    color: var(--dark-blue);
    font-weight: bold;
}

.menu-carrito .div-btn-carrito{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.menu-carrito .div-btn-carrito button{
    border: 1px var(--white) solid;
    border-radius: 17px;
    width: auto;
    padding: 5px 20px;
    background-color: var(--orange);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
}

.menu-usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 260px;
    position: absolute;
    z-index: 2;
    background-color: var(--light-blue);
    transition: 300ms;
}

.main-content{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 70px;
    align-items: center;
}

.main-content section{
    max-width: 1170px;
    width: 100%;
    margin-bottom: 15px;
}

.main-content section h3{
    color: var(--light-blue);
    padding-left: 25px;
    font-size: 1.5rem;
}

.main-content section h3:first-child{
    padding-left: 0;
}

.cards-detalle{
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}

.card-body{
    width: 545px;
    display: flex;
}

.card-description{
    width: 220px;
    height: 280px;
    background-color: var(--light-blue);
    border-radius: 10px;
}

.card-description-img{
    width: 100%;
    height: 150px;
    background-color: var(--red);
    border-radius: 10px 10px 0 0;
}

.card-description-img img{
    width: 220px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-description-content{
    width: 100%;
    height: 130px;
    background-color: var(--white);
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-description-content .title-h3{
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--dark-blue);
}

.card-description-content p{
    width: 90%;
    margin: 12px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    font-size: 0.9rem;
}

.card-description-content div{
    display: flex;
    gap: 15px;
}

.card-description-content div img{
    cursor: pointer;
}

.card-imgs{
    width: 300px;
    height: 290px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card-imgs img{
    width: 150px;
    height: 135px;
    border-radius: 12px;
    margin-left: 10px;
    object-fit: cover;
}

.carrousel-container{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    gap: 5px;
}

.carrousel{
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    scroll-behavior: smooth;
    display: flex;
}

.carrousel-img-container{
    height: 135px;
    width: 150px;
    margin-left: 10px;
    transition: 400ms;
    position: relative;
    z-index: 0.5;
    border-radius: 12px;
    object-fit: cover;
    cursor: pointer;
    background-color: var(--white);
}

.img-carrousel{
    width: 150px;
    height: 130px;
    border-radius: 12px;
    font-size: 0;
    z-index: 3;
    position: relative;
    object-fit: cover;
}

.carrousel-img-container .img-carrousel-hover{
    position: relative;
    bottom: 40px;
    right: 100px;
    width: 50px;
    opacity: 1;
    pointer-events: none;
}

.card-title{
    bottom: 16px;
    position: relative;
    width: 150px;
    height: 20px;
    background-color: var(--white);
    border-radius: 0 0 14px 14px;
    border-top: 2px var(--white) solid;
    pointer-events: none;
    z-index: 3;    
}

.card-title .truncate{
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding-left: 5px;
}

.card-gratis, .card-pago{
    position: absolute;
    border: 2px var(--white) solid ;
    border-radius: 11px 0 11px 0;
    z-index: 4;
    width: 50px;
    height: 18px;
    pointer-events: none;
}

.card-gratis{
    background-color: var(--light-blue);
}

.card-pago{
    background-color: var(--red);
}

.carrousel-img-container .expand-btn{
    position: absolute;
    top: 5px;
    right: 5px;
}

.carrousel span, .card-gratis span, .card-pago span{
    position: absolute;
    z-index: 2;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: var(--ubuntu);
    width: 100%;
    text-align: center;
    vertical-align: center;
}

.carrousel-hovered{
    opacity: 0.2;
    transition: 400ms;
}

.carrousel div:first-child{
    margin-left: 0;
}

.animation-carousel-left{
    animation-duration: 700ms;
    animation-name: anim-car-left;
}

.animation-carousel-right{
    animation-duration: 700ms;
    animation-name: anim-car-right;
}

@keyframes anim-car-left {
    0%   {right:0px; top:0px;}
    50%  {right:-10px; top:0px;}
    100% {right:0px; top:0px;}
  }

@keyframes anim-car-right {
    0%   {right:0px; top:0px;}
    50%  {right:10px; top:0px;}
    100% {right:0px; top:0px;}
}

.prev-btn{
    height: 25px;
    cursor: pointer;
    z-index: 1;
}

.next-btn{
    height: 25px;
    cursor: pointer;
    z-index: 1;
}

.linea {
    border-top: 2px solid var(--dark-blue);
    height: 2px;
    width: 100%;
    max-width: 340px;
    padding: 0;
    margin: 32px 0;
  }

.oculto{
    display: none !important;
}

.rotate{
    transform: rotate(180deg);
    transition: 300ms;
}

.opacity-transition{
    opacity: 0;
    transition: 300ms;
}

.z-index-5{
    z-index: 5;
}

.form-hide{
    height: 100vh !important;
    overflow: hidden;
}

.footer{
    height: 150px;
    background: linear-gradient(180deg, #1D3C47 40.94%, rgba(27, 59, 71, 0.92) 86.25%, rgba(25, 57, 70, 0.84) 99.93%, rgba(21, 55, 68, 0.70) 99.94%);
}

@media screen and (min-width: 400){

}

@media screen and (min-width: 800px){
    
}

@media screen and (min-width: 1300px) {
    .main-content{
        margin-left: 0;
    }
}