body{
    margin: 0;
    padding: 0;
    background-color: bisque;
}

.header{
    height: 70px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.nav-bar{
    position: absolute;
    height: 100vh;
    width: 40px;
    background-color: brown;
    z-index: 0;
    top: 0;
    transition: 300ms;
}

.nav-bar-open{
    width: 200px;
    transition: 300ms;
}

.main-content{
    padding-top: 70px;
    padding-bottom: 250px;
    height: 1500px;
}

.footer{
    
}

